@import "tailwindcss";

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 50;
  padding: 16px 24px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.logo img {
  width: 30px;
  height: 30px;
}

.logo span {
  font-weight: bold;
  font-size: 1.25rem;
  color: white;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-buttons button,
.nav-buttons a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-buttons button:hover,
.nav-buttons a:hover {
  color: gray;
}