.scroll-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
}

.ScrollButton-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary-600);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-glow-blue);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.ScrollButton-svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.ScrollButton-svgIcon path {
  fill: white;
}

.ScrollButton-button:hover {
  background-color: var(--primary-700);
  transform: scale(1.05);
  box-shadow: 0 0 30px var(--primary-500);
}

.ScrollButton-button:active {
  transform: scale(0.95);
}